<h1>Détails du Restaurant</h1>

<h2><%= @restaurant.name %></h2>
<p><strong>Adresse :</strong> <%= @restaurant.address %></p>
<p><strong>Catégorie :</strong> <%= @restaurant.category %></p>
<p><strong>Téléphone :</strong> <%= @restaurant.phone_number %></p>

<h3>Avis :</h3>

<% if @reviews.any? %>
  <ul>
    <% @reviews.each do |review| %>
      <li>
        <p><strong>Note :</strong> <%= review.rating %></p>
        <p><%= review.content %></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Aucun avis disponible pour ce restaurant.</p>
<% end %>

<%= link_to "Ajouter un avis", new_restaurant_review_path(@restaurant) %>
<%= link_to "Retour à la liste des restaurants", restaurants_path %>
